<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CBM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CBM.My.MySettings>
            <setting name="LocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeWidth" serializeAs="String">
                <value>418</value>
            </setting>
            <setting name="SizeHeight" serializeAs="String">
                <value>311</value>
            </setting>
            <setting name="txtUL" serializeAs="String">
                <value>Upper Left (From Settings)</value>
            </setting>
            <setting name="txtUR" serializeAs="String">
                <value>Upper Right (From Settings)</value>
            </setting>
            <setting name="txtLL" serializeAs="String">
                <value>Lower Left (From Settings)</value>
            </setting>
            <setting name="txtLR" serializeAs="String">
                <value>Lower Right (From Settings)</value>
            </setting>
            <setting name="tmrCheckClipboardInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="tmrRestartCheckClipboardInterval" serializeAs="String">
                <value>495</value>
            </setting>
            <setting name="FSReplaceChrFind" serializeAs="String">
                <value>Find This (From Settings)</value>
            </setting>
            <setting name="FSReplaceChrWith" serializeAs="String">
                <value>Replace With (From Settings)</value>
            </setting>
            <setting name="FSLookupFN" serializeAs="String">
                <value />
            </setting>
            <setting name="FSResultsTo" serializeAs="String">
                <value>Lower Left</value>
            </setting>
        </CBM.My.MySettings>
    </userSettings>
</configuration>